{% extends "base.html" %}
{% block mainblock %}
<a id="top"> 
<div class="row col-xl-10 col-lg-9 col-md-8 m-auto">
  <!-- title for Amenities -->
  <div class="card card-common title-bar">
    <h4>Type of Amenities Available</h4> 
  </div>
  <!-- card for Amenities -->
  {% for item in data %}
  <div class="card" style="width: 15rem; ">
      <i class="fas fa-{{ item.icon }} fa-5x m-3 p-1"></i>
      <h4>{{ item.itemCode }}</h4>
    <div class="card-text p-1">
      <p>{{ item.description }}</p>
      <p>Price : ${{ item.price }} per night stay</p> 
    </div>
  </div>
  {% endfor %}
</div>
<div class="row justify-content-md-center">
  <div class="text-justify">
    <div class="card common-card about-us-button" style="width:9rem; height:3rem">
      <a href="rooms">Rooms</a>
    </div>
    <div class="spacer" style="width:2rem">
    </div> 
    <div class="card common-card about-us-button " style="width:9rem; height:3rem">
      {% if panel == "CHOICE OF AMENITIES" %}
        <a href="#top">Amenities</a>
      {% else %}
        <a href="amenities">Amenities</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}